/* 设置字体来源,从Google导入字体 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    /* 告诉浏览器：你想要设置的边框和内边距的值是包含在 width 内的。也就是说，如果你将一个元素的 width 设为 100px，
    那么这 100px 会包含它的 border 和 padding，内容区的实际宽度是 width 减 去(border + padding) 的值。
    大多数情况下，这使得我们更容易地设定一个元素的宽高。border-box 不包含 margin */
    box-sizing: border-box;
    /* 设置文本显示字体 */
    /* font-family: "Popings", sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Rubik', sans-serif;
}

body{
    /* display: flex; */
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* background:url(./images/ShenZhenWan.jpg)  no-repeat center center; */
    background-size:cover;
    background-attachment:fixed;
    background-color:var(--white);
}

.page-header{
    display: flex;
    width: auto;
    height: fit-content;
    background: darkcyan;    
}

.page-header p{
    color: aliceblue;
}

.web-icon{
    width: 10%;
    margin-left: 2rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    text-align: center;
    border-radius: 1.5rem;
    padding: 0.5rem;
    background: white;
}

.web-title{
    width: 90%;
    height: inherit;
    margin-left: 2rem;
}

#app-icon{
    width: 100%;
}


#app-name{
    font-size: 3rem;
}

#app-description{
    font-size: 1rem;
}

.page-content{
    margin: 3rem;
}
.sub-title{
    font-size: 2rem;
}

.update-time{
    font-size: 1.5rem;
}

.content-title{
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

.content{
    font-size: 1rem;
    margin-top: 0.5rem;
}


.page-feet{
    display: flex;
    width: auto;
    height: fit-content;
    background: darkcyan; 
    padding: 5rem; 
    font-size: 0.7rem;
    color: aliceblue;
}